@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background-image: url(../assets/imgs/banner.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

#homeNavbar{
    color: #E48709;
}

.containerBranco {
    display: flex;
    width: 100%;
    height: 65%;
    flex-direction: column;
}

#tituloInformacoes{
    display: flex;
    margin-top: 2%;
    color: #030D23;
    font-weight: 600;
    font-size: 1.5vmax;
    height: 4%;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.conteudo {
    display: flex;
    height: 100%;
    background-color: white;
}

.containerPlataformas{
    display: flex;
    height: 20%;
    width: 70%;
    margin-top: 5%;
    margin-left: 20%;
    flex-direction: column;
    align-items: center;
}

#plataformas {
    display: flex;
    font-size: 1vmax;
    font-weight: 600;
}

#desenvolvido {
    display: flex;
    font-size: 1vmax;
    font-weight: 600;
}

#iconesPlataformas{
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
}

#logoNintendo {
    display: flex;
    width: 12%;
    margin-left: 10%;
    height: 65%;
}

#logoXbox {
    display: flex;
    width: 12%;
    height: 65%;
    margin-left: 20%;
}

#logoPlaystation{
    display: flex;
    width: 14%;
    height: 65%;
    margin-left: 10%;
}

.containerDesenvolvido{
    display: flex;
    height: 47%;
    width: 70%;
    margin-top: 5%;
    margin-left: 20%;
    flex-direction: column;
    align-items: center;
}

#logoDesenvolvido {
    display: flex;
    height: 100%;
    width: 50%;
}

.requisitosWindows {
    margin-top: 4%;
    width: 30%;
    height: 30%;
    font-size: 1vmax;
    color: #030D23;
    font-weight: 600;
    line-height: 40px;
    margin-left: 2%;
}

.requisitosMacos{
    margin-top: 4%;
    width: 30%;
    height: 30%;
    font-size: 1vmax;
    color: #030D23;
    font-weight: 600;
    line-height: 40px;
    margin-left: 3%;
}
#requisitosPC{
    display: flex;
    font-size: 1vmax;
    font-weight: 600;
}

#requisitosPCtexto{
    display: flex;
    font-size: 1vmax;
    font-weight: 400;
    width: 100%;
}

#requisitosMac{
    display: flex;
    font-size: 1vmax;
    font-weight: 600;
}

#requisitosMactexto{
    display: flex;
    font-size: 1vmax;
    font-weight: 400;
    width: 100%;
}
.footer {
    display: flex;
    width: 100%;
    height: 6%;
    background-color: #030D23;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1vmax;
}

.a {
    width: 25%;
    margin-top: 3.3%;
}

.conteudoBanner{
    display: flex;
    margin-top: 30%;
    width: 50%;
    flex-direction: column;
    color: white;
    margin-left: 5%;
}

#tituloBanner{
    font-size: 2vmax;
    font-weight: 800;
    color: #E48709;
}

#textoBanner{
    font-size: 1vmax;
}

.containerQuiz {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloQuiz{
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3vmax;
    font-weight: 900;
    margin-top: 6%;
    color: white;
}

.botaoStart{
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
}

#botaoStart{
    background-color: #030D23;
    border: 0;
    border-radius: 2vmax;
    color: white;
    width: 20%;
    height: 100%;
    font-size: 1vmax;
    font-weight: 600;
    cursor: pointer;
}


.containerInternoQuiz{
    background-color: #E48709;
    width: 50%;
    height: 90%;
    border-radius: 5vmax;
}

#textoQuiz{
    display: flex;
    font-size: 1vmax;
    font-weight: 600;
    color: white;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}





