@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.banner {
    background-image: url(imgs/944382-SOMA-water-underwater-deep-sea-screen-shot-video.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header {
    display: flex;
    width: 100%;
    height: 6%;
    align-items: center;
}

.logo {
    display: flex;
    height: 60%;
    width: 20%;
    margin-left: 5%;
}

.navbar {
    display: flex;
    width: 36%;
    height: 50%;
    gap: 10%;
    color: white;
    font-size: 1vmax;
    cursor: pointer;
    margin-left: 10%;
    font-weight: 600;
}

#leviathansNavbar {
    color: #E48709;
}

.conteudoBanner{
    display: flex;
    width: 100%;
    height: 94%;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 3%;
}

#teste {
    color: #86C5DB;
    margin-left: 5.2%;;
    font-size: 1vmax;
    width: 57%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#tituloBanner{
    font-size: 2.8vmax;
    font-weight: 700;
    margin-left: 5%;
    margin-top: -0.5%;
    font-family: 'Montserrat', sans-serif;
    color: #E48709;
}

#textoBanner{
    font-size: 1.1vmax;
    margin-top: 2%;
    line-height: 35px;
    margin-left: 5%;
    width: 57%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/* SEA TREADER */
.containerSeaTraderBranco {
    width: 100%;
    height: 70%;
}

#fundoseatrader{
    height: 90%;
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#seatreader {
    height: 60%;
    width: 50%;
    position: absolute;
    margin-top: 3.5%;
    margin-left: -48%;
}

#tituloSeaTreader {
    position: absolute;
    margin-top: 16%;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoSeaTreader {
    position: absolute;
    margin-top: 19%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

.dataBankSeaTrader{
    display: flex;
    height: 6%;
    width: 8%;
    position: absolute;
    top: 154%;
    left: 4%;
    align-items: center;
    justify-content: center;
    background-color: #E48709;
    opacity: 75%;
    border-radius: 1vmax;
    cursor: pointer;

}

#dataBankST{
    display: flex;
    color: #030D23;
    font-weight: 800;
    font-size: 0.8vmax;
}

#menuSeaTreadera{
    display: flex;
    position: absolute;
    width: 50%;
    height: 63%;
    background-color: #030D23;
    z-index: 2;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
    flex-direction: column;
}

#botaoST{ 
    height: 5%;
    width: 8%;
    background-color: #E48709;
    border: #E48709;
    border-radius: 1vmax;
    font-size: 0.7vmax;
    font-weight: 800;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#tituloDataBankST{
    display: flex;
    margin-left: 15%;
    color: white;
    font-weight: 800;
    font-size: 2vmax;
}

#textoDataBankST{
    display: flex;
    color: white;
    margin-left: 15%;
    height: 60%;
    width: 80%;
    flex-direction: column;
}


/* REEFBACK */
.containerReefbackBranco {
    width: 100%;
    height: 70%;
}

#fundoreefback{
    height: 90%;
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#reefback {
    height: 80%;
    width: 70%;
    margin-top: 2%;
    margin-left: -128%;
    position: absolute;
    z-index: 2;
}

#tituloReefback {
    position: absolute;
    margin-top: 16%;
    margin-left: 84%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoReefback {
    display: flex;
    position: absolute;
    margin-top: 19%;
    margin-left: 60.5%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
    text-align: right;
}

.dataBankReefback{
    display: flex;
    height: 6%;
    width: 8%;
    position: absolute;
    top: 227%;
    left: 87.6%;
    align-items: center;
    justify-content: center;
    background-color: #E48709;
    opacity: 75%;
    border-radius: 1vmax;
    cursor: pointer;

}

#dataBankRB{
    display: flex;
    color: #030D23;
    font-weight: 800;
    font-size: 0.8vmax;
}

#menuReefbacka{
    display: flex;
    position: absolute;
    width: 50%;
    height: 72%;
    background-color: #030d23;
    z-index: 2;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
    flex-direction: column;
    margin-left: 47%;
}

#botaoRB{ 
    height: 5%;
    width: 8%;
    background-color: #E48709;
    border: #E48709;
    border-radius: 1vmax;
    font-size: 0.7vmax;
    font-weight: 800;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#tituloDataBankRB{
    display: flex;
    margin-left: 15%;
    color: white;
    font-weight: 800;
    font-size: 2vmax;
}

#textoDataBankRB{
    display: flex;
    color: white;
    margin-left: 15%;
    height: 60%;
    width: 80%;
    flex-direction: column;
}

/* REAPER */

.containerReaperBranco {
    width: 100%;
    height: 70%;
}

#fundoreaper{
    height: 90%;
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#reaper {
    height: 90%;
    width: 70%;
    margin-top: -33%;
    margin-left: 30%;
}

#tituloReaper {
    position: absolute;
    margin-top: 16%;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoReaper {
    position: absolute;
    margin-top: 19%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

.dataBankReaper{
    display: flex;
    height: 6%;
    width: 8%;
    position: absolute;
    top: 291%;
    left: 4%;
    align-items: center;
    justify-content: center;
    background-color: #E48709;
    opacity: 75%;
    border-radius: 1vmax;
    cursor: pointer;

}

#dataBankRP{
    display: flex;
    color: #030D23;
    font-weight: 800;
    font-size: 0.8vmax;
}

#menuReapera{
    display: flex;
    position: absolute;
    width: 50%;
    height: 63%;
    background-color: #030d23;
    z-index: 2;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
    flex-direction: column;
}

#botaoRP{ 
    height: 5%;
    width: 8%;
    background-color: #E48709;
    border: #E48709;
    border-radius: 1vmax;
    font-size: 0.7vmax;
    font-weight: 800;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#tituloDataBankRP{
    display: flex;
    margin-left: 15%;
    color: white;
    font-weight: 800;
    font-size: 2vmax;
}

#textoDataBankRP{
    display: flex;
    color: white;
    margin-left: 15%;
    height: 60%;
    width: 80%;
    flex-direction: column;
}

/* GHOST */
.containerGhostBranco {
    width: 100%;
    height: 70%;
}

#fundoghost{
    height: 90%;
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#ghost {
    height: 80%;
    width: 70%;
    margin-top: 0%;
    margin-left: -118%;
    position: absolute;
    z-index: 2;
    transform: scaleX(-1);
}

#tituloGhost {
    position: absolute;
    margin-top: 16%;
    margin-left: 88%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoGhost {
    display: flex;
    position: absolute;
    margin-top: 19%;
    margin-left: 60.5%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
    text-align: right;
}

.dataBankGhost{
    display: flex;
    height: 6%;
    width: 8%;
    position: absolute;
    top: 365%;
    left: 87.6%;
    align-items: center;
    justify-content: center;
    background-color: #E48709;
    opacity: 75%;
    border-radius: 1vmax;
    cursor: pointer;

}

#dataBankG{
    display: flex;
    color: #030D23;
    font-weight: 800;
    font-size: 0.8vmax;
}

#menuGhosta{
    display: flex;
    position: absolute;
    width: 50%;
    height: 63%;
    background-color: #030d23;
    z-index: 2;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
    flex-direction: column;
    margin-left: 47%;
}

#botaoG{ 
    height: 5%;
    width: 8%;
    background-color: #E48709;
    border: #E48709;
    border-radius: 1vmax;
    font-size: 0.7vmax;
    font-weight: 800;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#tituloDataBankG{
    display: flex;
    margin-left: 15%;
    color: white;
    font-weight: 800;
    font-size: 2vmax;
}

#textoDataBankG{
    display: flex;
    color: white;
    margin-left: 15%;
    height: 60%;
    width: 80%;
    flex-direction: column;
}

/* SEA DRAGON */
.containerSeaDragonBranco {
    width: 100%;
    height: 70%;
}

#fundoseadragon{
    height: 90%;
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#seadragon {
    height: 100%;
    width: 70%;
    margin-top: -33%;
    margin-left: 26%;
}

#tituloSeaDragon {
    position: absolute;
    margin-top: 16%;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoSeaDragon {
    position: absolute;
    margin-top: 19%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

.dataBankSeaDragon{
    display: flex;
    height: 6%;
    width: 8%;
    position: absolute;
    top: 430%;
    left: 4%;
    align-items: center;
    justify-content: center;
    background-color: #E48709;
    opacity: 75%;
    border-radius: 1vmax;
    cursor: pointer;
}

#dataBankSD{
    display: flex;
    color: #030D23;
    font-weight: 800;
    font-size: 0.8vmax;
}

#menuSeaDragona{
    display: flex;
    position: absolute;
    width: 50%;
    height: 65%;
    background-color: #030d23;
    z-index: 2;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
    flex-direction: column;
}

#botaoSD{ 
    height: 5%;
    width: 8%;
    background-color: #E48709;
    border: #E48709;
    border-radius: 1vmax;
    font-size: 0.7vmax;
    font-weight: 800;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#tituloDataBankSD{
    display: flex;
    margin-left: 15%;
    color: white;
    font-weight: 800;
    font-size: 2vmax;
}

#textoDataBankSD{
    display: flex;
    color: white;
    margin-left: 15%;
    height: 60%;
    width: 80%;
    flex-direction: column;
}

/* SEA EMPEROR */
.containerSeaEmperorBranco {
    width: 100%;
    height: 70%;
}

#fundoseaemperor{
    height: 90%;
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#seaemperor {
    height: 70%;
    width: 50%;
    margin-top: 0.4%;
    margin-left: -100%;
    position: absolute;
    z-index: 2;
}

#tituloSeaEmperor {
    position: absolute;
    margin-top: 16%;
    margin-left: 80%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;
    width: 16%;

}

#textoSeaEmperor {
    display: flex;
    position: absolute;
    margin-top: 19%;
    margin-left: 60.5%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
    text-align: right;
}

.dataBankSeaEmperor{
    display: flex;
    height: 6%;
    width: 8%;
    position: absolute;
    top: 498%;
    left: 87.6%;
    align-items: center;
    justify-content: center;
    background-color: #E48709;
    opacity: 75%;
    border-radius: 1vmax;
    cursor: pointer;

}

#dataBankSE{
    display: flex;
    color: #030D23;
    font-weight: 800;
    font-size: 0.8vmax;
}

#menuSeaEmperora{
    display: flex;
    position: absolute;
    width: 50%;
    height: 63%;
    background-color: #030d23;
    z-index: 2;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
    flex-direction: column;
    margin-left: 47%;
}

#botaoSE{ 
    height: 5%;
    width: 8%;
    background-color: #E48709;
    border: #E48709;
    border-radius: 1vmax;
    font-size: 0.7vmax;
    font-weight: 800;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#tituloDataBankSE{
    display: flex;
    margin-left: 15%;
    color: white;
    font-weight: 800;
    font-size: 2vmax;
}

#textoDataBankSE{
    display: flex;
    color: white;
    margin-left: 15%;
    height: 60%;
    width: 80%;
    flex-direction: column;
}
