body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.banner {
    background-image: url(imgs/944382-SOMA-water-underwater-deep-sea-screen-shot-video.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header {
    display: flex;
    width: 100%;
    height: 6%;
    align-items: center;
}

.logo {
    display: flex;
    height: 60%;
    width: 20%;
    margin-left: 5%;
}

.navbar {
    display: flex;
    width: 36%;
    height: 50%;
    gap: 10%;
    color: white;
    font-size: 1vmax;
    margin-left: 10%;
    cursor: pointer;
}

.conteudoBanner{
    display: flex;
    margin-top: 30%;
    width: 50%;
    flex-direction: column;
    color: white;
    margin-left: 5%;
}

#tituloBanner{
    font-size: 2vmax;
}

#textoBanner{
    font-size: 1vmax;
}

/* SEA TREADER */
.containerSeaTraderBranco {
    width: 100%;
    height: 70%;
}

#fundoseatrader{
    height: 90%;
    width: 75%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#seatreader {
    height: 90%;
    width: 50%;
    margin-top: -33%;
    margin-left: 50%;
}

#tituloSeaTreader {
    position: absolute;
    margin-top: 16%;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoSeaTreader {
    position: absolute;
    margin-top: 18%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

.containerSeaTraderAzul {
    background-color: #030D23;
    width: 100%;
    height: 75%;
}

#seatreaderdata{
    margin-left: 50%;
    margin-top: 1%;
    height: 60%;
    width: 44%;
    border-radius: 2vmax;;
}

#bioma1{
    width: 20%;
    margin-left: 50%;
    border-radius: 2vmax;
    height: 25%;
}

#bioma2{
    width: 20%;
    border-radius: 2vmax;
    height: 25%;
    margin-top: 2%;
    margin-left: 3.5%;
}

#tituloDataSeaTreader {
    margin-top: 1%;
    position: absolute;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoDataSeaTreader {
    position: absolute;
    margin-top:5%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

/* REEFBACK */
.containerReefbackBranco {
    width: 100%;
    height: 70%;
}

#fundoreefback{
    height: 90%;
    width: 75%;
    margin-left: 23%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#reefback {
    height: 80%;
    width: 70%;
    margin-top: 2%;
    margin-left: -128%;
    position: absolute;
    z-index: 2;
}

#tituloReefback {
    position: absolute;
    margin-top: 16%;
    margin-left: 86%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoReefback {
    display: flex;
    position: absolute;
    margin-top: 18%;
    margin-left: 61.5%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
    text-align: right;
}

.containerReefbackAzul {
    background-color: #030D23;
    width: 100%;
    height: 100%;
}

#reefbackdata{
    margin-left: 50%;
    margin-top: 1%;
    height: 45%; 

    border-radius: 2vmax;;
}

#bioma1Reefback{
    width: 20%;
    margin-left: 50%;
    border-radius: 2vmax;
    height: 15%;
    width: 45%;
}

#bioma2Reefback{
    width: 20%;
    border-radius: 2vmax;
    height: 15%;
    margin-top: 2%;
    margin-left: 3.5%;
}

#tituloDataReefback {
    margin-top: 1%;
    position: absolute;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoDataReefback {
    position: absolute;
    margin-top:5%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

/* REAPER */

.containerReaperBranco {
    width: 100%;
    height: 70%;
}

#fundoreaper{
    height: 90%;
    width: 75%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#reaper {
    height: 90%;
    width: 70%;
    margin-top: -33%;
    margin-left: 30%;
}

#tituloReaper {
    position: absolute;
    margin-top: 16%;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoReaper {
    position: absolute;
    margin-top: 18%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

.containerReaperAzul {
    background-color: #030D23;
    width: 100%;
    height: 70%;
}

#reaperdata{
    margin-left: 50%;
    margin-top: 1%;
    height: 60%; 
    border-radius: 2vmax;;
}



#tituloDataReaper {
    margin-top: 1%;
    position: absolute;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoDataReaper {
    position: absolute;
    margin-top:5%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

/* GHOST */
.containerGhostBranco {
    width: 100%;
    height: 70%;
}

#fundoghost{
    height: 90%;
    width: 75%;
    margin-left: 23%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#ghost {
    height: 80%;
    width: 70%;
    margin-top: 0%;
    margin-left: -118%;
    position: absolute;
    z-index: 2;
    transform: scaleX(-1);
}

#tituloGhost {
    position: absolute;
    margin-top: 16%;
    margin-left: 85%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoGhost {
    display: flex;
    position: absolute;
    margin-top: 18%;
    margin-left: 61.5%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
    text-align: left;
}

.containerGhostAzul {
    background-color: #030D23;
    width: 100%;
    height: 80%;
}

#ghostdata{
    margin-left: 49%;
    margin-top: 1%;
    height: 60%; 
    border-radius: 2vmax;;
}

#bioma1Ghost{
    width: 20%;
    margin-left: 50%;
    border-radius: 2vmax;
    height: 15%;
    width: 45%;
}

#bioma2Ghost{
    width: 20%;
    border-radius: 2vmax;
    height: 15%;
    margin-top: 2%;
    margin-left: 3.5%;
}

#tituloDataGhost {
    margin-top: 1%;
    position: absolute;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;
}

#textoDataGhost {
    position: absolute;
    margin-top:5%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

/* SEA DRAGON */
.containerSeaDragonBranco {
    width: 100%;
    height: 70%;
}

#fundoseadragon{
    height: 90%;
    width: 75%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#seadragon {
    height: 100%;
    width: 70%;
    margin-top: -33%;
    margin-left: 26%;
}

#tituloSeaDragon {
    position: absolute;
    margin-top: 16%;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoSeaDragon {
    position: absolute;
    margin-top: 18%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

.containerSeaDragonAzul {
    background-color: #030D23;
    width: 100%;
    height: 85%;
}

#seadragondata{
    margin-left: 45%;
    margin-top: 1%;
    height: 60%; 
    border-radius: 2vmax;;
}

#bioma1SeaDragon{
    width: 20%;
    margin-left: 50%;
    border-radius: 2vmax;
    height: 25%;
}

#bioma2SeaDragon{
    width: 20%;
    border-radius: 2vmax;
    height: 25%;
    margin-top: 2%;
    margin-left: 3.5%;
}

#tituloDataSeaDragon {
    margin-top: 1%;
    position: absolute;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoDataSeaDragon{
    position: absolute;
    margin-top:5%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}

/* SEA EMPEROR */
.containerSeaEmperorBranco {
    width: 100%;
    height: 70%;
}

#fundoseaemperor{
    height: 90%;
    width: 75%;
    margin-left: 23%;
    margin-top: 2%;
    border-radius: 2vmax;
}

#seaemperor {
    height: 70%;
    width: 50%;
    margin-top: 1.5%;
    margin-left: -100%;
    position: absolute;
    z-index: 2;
}

#tituloSeaEmperor {
    position: absolute;
    margin-top: 16%;
    margin-left: 80%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;
    width: 16%;

}

#textoSeaEmperor {
    display: flex;
    position: absolute;
    margin-top: 18%;
    margin-left: 61.5%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
    text-align: left;
}

.containerSeaEmperorAzul {
    background-color: #030D23;
    width: 100%;
    height: 80%;
}

#seaemperordata{
    margin-left: 47%;
    margin-top: 1%;
    height: 45%; 

    border-radius: 2vmax;;
}

#bioma1SeaEmperor{
    width: 20%;
    margin-left: 50%;
    border-radius: 2vmax;
    height: 15%;
    width: 45%;
}

#bioma2SeaEmperor{
    width: 20%;
    border-radius: 2vmax;
    height: 15%;
    margin-top: 2%;
    margin-left: 3.5%;
}

#tituloDataSeaEmperor {
    margin-top: 1%;
    position: absolute;
    margin-left: 4%;
    font-size: 2vmax;
    font-weight: 800;
    color: white;

}

#textoDataSeaEmperor {
    position: absolute;
    margin-top:5%;
    margin-left: 4%;
    font-size: 1vmax;
    font-weight: 400;
    color: white;
    width: 35%;
}
