@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    display: flex;
    background-image: url(imgs/10926720.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.conteudoQuiz{
    background-color: #030D23;
    width: 60%;
    height: 80%;
    border-radius: 2vmax;
}

.tituloQuiz{
    display: flex;
    width: 100%;
    height: 20%;
    font-size: 2vmax;
    align-items: center;
    font-weight: 900;
    color: white;
    justify-content: center;
}

.inputParaQuiz{
    display: flex;
    flex-direction: column;
    height: 60%;
    margin-top: 5%;
    font-size: 1.5vmax;
    color: white;
    font-weight: 600;
    margin-left: 5%;
    gap: 4%;
}

input {
    background-color: #E48709;
    border: 0;
    width: 80%;
    height: 15%;
    border-radius: 1vmax;
    color: white;
}

#botaoComeçar{
    height:20%;
    width: 20%;
    border-radius: 2vmax;
    border: 0;
    color: white;
    font-size: 1.3vmax;
    font-weight: 700;
    background-color: #E48709;
    margin-left: 40%;
    margin-top: 5%;
    cursor: pointer;
}

#spanErro{
    font-size: 1vmax;
    color: red;
    width: 80%;
}

.conteudoQuestionario{
    display: none;
    background-color: #030D23;
    width: 60%;
    height: 80%;
    border-radius: 2vmax;
    position: absolute;
    flex-direction: column;
}

.opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #11244d;
    width: 100%;
    height: 70%;
    gap: 5%;
}

#opcao1{
    display: flex;
    background-color: #E48709;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    border-radius: 3vmax;
    font-size: 2vmax;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

#opcao2{
    display: flex;
    background-color: #E48709;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    border-radius: 3vmax;
    font-size: 2vmax;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
#opcao3{
    display: flex;
    background-color: #E48709;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    border-radius: 3vmax;
    font-size: 2vmax;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
#opcao4{
    display: flex;
    background-color: #E48709;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    border-radius: 3vmax;
    font-size: 2vmax;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

#proxPergunta{
    background-color: #E48709;
    cursor: pointer;
    color: white;
    font-size: 1vmax;
    height: 6%;
    width: 20%;
    display: flex;
    margin-left: 75%;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 1vmax;
}